### Задание 3

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [1]:
import pandas
import numpy

def fetch_ratings() -> pandas.DataFrame:
    return pandas.read_csv('ratings.csv')

def flat_map_to_mean_time_row(row: pandas.DataFrame) -> pandas.Series:
    '''
    Finds the difference between the maximum and minimum value of a timestamp column
    '''
    time_life = numpy.nan
    if len(row) > 100:
        time_life = row['timestamp'].max() - row['timestamp'].min()

    return pandas.Series(
        data={'timeLife': time_life},
        index=['timeLife']
    )

def get_life_time_table(ratings: pandas.DataFrame) -> pandas.DataFrame:
    '''
    Groups the ratings table by user and finds the lifetime
    '''
    
    filter_ratings = ratings.loc[:, ['userId', 'timestamp']]
    life_time_table = filter_ratings.groupby('userId').apply(flat_map_to_mean_time_row).reset_index()
    clear_life_time_table = life_time_table.loc[~pandas.isnull(life_time_table['timeLife']), :]
    
    return clear_life_time_table

ratings = get_life_time_table(
    ratings=fetch_ratings()
) 
ratings.head(20)

    userId     timeLife
3        4     203560.0
7        8      85187.0
14      15  471393496.0
16      17       8053.0
18      19       5282.0
20      21    1365432.0
21      22      91491.0
22      23   18342129.0
25      26   20267261.0
29      30  115852276.0
32      33    4332211.0
33      34       2835.0
35      36    5949290.0
37      38   59971665.0
40      41   15930495.0
42      43      13885.0
47      48  136315977.0
55      56    8564120.0
56      57       4323.0
60      61    1374418.0